# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Environment
.env
.env.local
.env.*.local
.env.sentry-build-plugin

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Turbo
.turbo

# Testing
coverage

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Vercel
.vercel
